form p{
    float: left;
    width: 50%;
}
body{
    vertical-align: middle;
}
html{
    background: radial-gradient( rgb(127, 195, 226), rgb(197, 149, 219), rgb(192, 133, 174));
    color: white;
    height: 100%;
    text-align: center;
}
input{
    background-color: rgb(177, 147, 212);
    color: indigo;
    border: 2px solid  rgb(197, 124, 185);
    box-shadow: indigo 3px 3px 3px;
    
}

button{
    background-color: rgb(238, 188, 196);
    color:  (41, 23, 0);
    border: 2px solid  black;
    margin: 2px;
    font-size: 15px;
    box-shadow: indigo 3px 3px 3px;
}
form, p{
    color:rgb(14, 2, 2);
    font-size: 20px;
    text-shadow: rgb(177, 119, 177) 2px 2px 2px;
}
